* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	border: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}
html,body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	font-size: 1.6rem;
	font-family: 'Ubuntu', helvetica neue, helvetica, sans-serif;
	font-weight: 300;
	max-height: min-content;
}

h1 {
	font-size: 3rem;
	padding: 5% 5% 0 5%;
	font-weight: 100;
	color: rgb(60,60,60);
	font-family: futuraLT, futura, century gothic,sans-serif;
}
h1::after {
	content: '';
	display: block;
	width: 10%;
	margin-top: 1rem;
	border-bottom: 3px solid rgb(50,180,250);
}
h2 {
	display: block;
	text-transform: uppercase;
	color: rgb(60,60,60);
	font-weight: 300;
	letter-spacing: 0.02em;
	font-size: 2.5rem;
	padding-bottom: 2rem;
}

section {
	display: flex;
	flex-direction: column;
	padding-top: 6rem;
	position: relative;
	width: 100%;
	min-height: 100%;
}

section>article,section>ol,section>nav,section>fieldset {
	display: block;
	position: relative;
	float: left;
	padding: 5%;
	width: 100%;
	height: 100%;
	min-width: 400px;
	min-height: 400px;
}
span.amp {
	display: inline-block;
	font-family: serif;
	color: rgb(50,180,250);
	font-size: 1.8rem;
	line-height: 1.6rem;
}
a[href] {
	color: rgb(50,180,250);
}

button:hover,textarea:hover,label:hover {
	cursor: pointer;
}

/* NAVIGATION */

#nav {
	position: fixed;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	width: 100%;
	background-color: rgb(50,180,250);
	z-index: 90;
	white-space: nowrap;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}
#nav a {
	display: flex;
	align-items: center;
	padding: 0 calc(0.5vw + 1rem);
	font-size: 1.3rem;
	color: rgb(255,255,255);
	font-family: futuraLT, futura, century gothic,sans-serif;
	letter-spacing: 0.1rem;
	height: 6rem;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#nav ul {
	display: flex;
}
#nav li {
	display: inline-flex;
}
#nav>li {
	position: absolute;
	left: 5%;
}
#nav>li a {
	color: rgba(255,255,255,0.65);
	font-size: 1.6rem;
	letter-spacing: 0.15rem;
}
/* SUB MENU */
	#arrow {
		display: inline-block;
		margin: 2px 0 0 5px;
		border: 4px solid transparent;
		border-top-color: #fff;
	}
	#nav>ul ul {
		display: block;
		position: absolute;
		top: 6rem;
		padding: 0;
		height: 0;
		z-index: 90;
		overflow: hidden;
		background-color: rgb(50,180,250);
		-webkit-transition: all 200ms ease;
		-moz-transition: all 200ms ease;
		-ms-transition: all 200ms ease;
		-o-transition: all 200ms ease;
		transition: all 200ms ease;
	}
	#nav>ul>li:nth-of-type(2):hover ul {
		height: 12rem;
	}
	#nav>ul ul li {
		display: block;
		position: relative;
	}
	#nav>ul ul a {
		height: 4rem;
		font-size: 1.2rem
	}


#nav li>a:hover {
	background-color: rgba(255,255,255,0.2);
}

/* LOGIN */

#login {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 6rem;
	height: 6rem;
	padding: 0 1rem;
}
#login::before {
	content: '';
	display: block;
	width: 0.9rem;
	height: 0.9rem;
	margin-top: -0.8rem;
	border: 0.2rem solid #fff;
	border-radius: 50%;
	position: absolute;
}
#login::after {
	content: '';
	display: block;
	width: 1.9rem;
	height: 0.9rem; 
	margin-bottom: -0.8rem;
	border: 0.2rem solid #fff;
	border-radius: 50%;
}
/* LOGIN */

#login form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: fixed;
	height: 0rem;
	border-bottom: 0px solid transparent;
	overflow: hidden;
	width: 100vw;
	left: 0;
	top: 6rem;
	background-color: rgb(255,255,255);
	z-index: 88;
	font-family: futuraLight,futuraLT,futura, century gothic,sans-serif;
	font-size: 1.4rem;
	-webkit-transition: height 400ms ease 600ms, border 0ms linear 1s;
	-moz-transition: height 400ms ease 600ms, border 0ms linear 1s;
	-ms-transition: height 400ms ease 600ms, border 0ms linear 1s;
	-o-transition: height 400ms ease 600ms, border 0ms linear 1s;
	transition: height 400ms ease 600ms, border 0ms linear 1s;
}

#login:hover {
	background-color: rgba(255,255,255,0.2);
}
#login:hover form,#login:focus form {
	height: 5rem;
	border-bottom: 1px solid rgb(180,180,180);
	-webkit-transition: height 300ms ease;
	-moz-transition: height 300ms ease;
	-ms-transition: height 300ms ease;
	-o-transition: height 300ms ease;
	transition: height 300ms ease;
}
#login form label {
	font-weight: 100;
	color: rgb(180,180,180);
}
#login form input {
	color: rgb(50,180,250);
	display: block;
	height: 2.5rem;
	padding: 0 0.5rem;
	margin: 0 1.2rem 0 0.6rem;
	width: 6%; 
	font-weight: 500;
	background-color: transparent;
	border: 1px solid rgb(180,180,180);
	margin-top: -1px;
	border-radius: 0.3rem;
	-webkit-transition: all 300ms ease, border 100ms linear;
	-moz-transition: all 300ms ease, border 100ms linear;
	-ms-transition: all 300ms ease, border 100ms linear;
	-o-transition: all 300ms ease, border 100ms linear;
	transition: all 300ms ease, border 100ms linear;
}
#login form input:nth-of-type(1):hover,#login form input:nth-of-type(2):hover {
	border: 2px solid rgb(50,180,250);
}
#login form input:nth-of-type(1):focus,#login form input:nth-of-type(2):focus {
	width: 10%;
	border-color: rgb(50,180,250);
	box-shadow: 0 0 0px 2px rgb(50,180,250);
}
#login form input:active{
	box-shadow: 0 0 8px 5px rgba(50,180,250,0.5) !important;
}
#login form input:last-of-type:active{
	box-shadow: none !important;
}
#login form input:last-of-type {
	margin: 0 0.2rem 0 0.3rem;
	width: initial;
}
#login form button {
	display: block;
	height: 2.5rem;
	padding: 0 0.5rem;
	margin-right: 1rem;
	border: 1px solid rgb(50,180,250);
	margin-top: -1px;
	border-radius: 0.3rem;
	color: rgb(50,180,250);
	background-color: transparent;
	-webkit-transition: all 150ms ease 100ms;
	-moz-transition: all 150ms ease 100ms;
	-ms-transition: all 150ms ease 100ms;
	-o-transition: all 150ms ease 100ms;
	transition: all 150ms ease 100ms;
}
#login form button:focus,#login form button:hover {
	color: rgb(255,255,255);
	background-color: rgb(50,180,250);
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
	animation: buttonEmp 0.5s infinite alternate ease-in-out;
	box-shadow: 0 0 0 0 rgba(50,180,250,0.5);
}
@keyframes buttonEmp {
	to { 
		box-shadow: 0 0 0 2px rgba(50,180,250,0.5);
		 }
}
#login form button:active {
	color: rgb(255,255,255);
	border-color: rgba(50,180,250,0.8);
	box-shadow: 0 0 0px 2px rgb(50,180,250);
	opacity: 0.8;
}
#login form button:active,input[type="checkbox"]::before,input[type="checkbox"]::after {
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}
input[type="checkbox"]::before {
	content: "";
	display: block;
	width: 1.4rem;
	height: 2.5rem;
	border-radius: 0.8rem;
	box-shadow: 0 0 0 0.2rem rgb(230,230,230);
	background-color: rgb(230,230,230);
}
input[type="checkbox"]::after {
	content: "";
	display: block;
	position: relative;
	top: -1.4rem;
	height: 1.4rem;
	border-radius: 0.7rem;
	width: 1.4rem;
	background-color: rgb(255,255,255);
	z-index: 2;
}
input[type="checkbox"]:focus::before,input[type="checkbox"]:hover::before {
	content: "";
	box-shadow: 0 0 0 0.3rem rgb(230,230,230);
}
input[type="checkbox"]:checked::after {
	content: "";
	top: -2.5rem;
}
input[type="checkbox"]:checked::before {
	background-color: rgb(50,180,250);
	box-shadow: 0 0 0 0.2rem rgb(50,180,250);
}
input[type="checkbox"]:checked+label {
	color: rgb(50,180,250) !important;
}
input[type="checkbox"]:focus+label,input[type="checkbox"]:hover+label {
	color: rgb(50,180,250) !important;
}


/*input[type="checkbox"]:hover::before {
	content: "";
	border-color: rgb(50,180,250);
}*/

#nav form>a {
	width: initial;
	color: rgb(50,180,250);
}
#nav form>a:hover {
	text-decoration: underline;
}
#login form a,#login form label:last-of-type {
	font-size: 1.2rem;
	line-height: 1;
	padding: 0.5rem;
	font-family: futuraLight,futuraLT,futura, century gothic,sans-serif;
}
@media screen and (max-width: 600px) {
	#login form label {
		font-weight: 100;
		color: rgb(100,100,100);
	}
	#login form input {
		clear: right;
		color: rgb(50,180,250);
		display: block;
		height: 2.5rem;
		padding: 0 0.5rem;
		margin: 0 1.2rem 0 0.6rem;
		width: 6%; 
		font-weight: 500;
		background-color: transparent;
		border: 1px solid rgb(160,160,160);
		margin-top: -1px;
		border-radius: 0.3rem;
		-webkit-transition: all 300ms ease, border 100ms linear;
		-moz-transition: all 300ms ease, border 100ms linear;
		-ms-transition: all 300ms ease, border 100ms linear;
		-o-transition: all 300ms ease, border 100ms linear;
		transition: all 300ms ease, border 100ms linear;
	}
}




/* MEDIA ITEM */
#media_item {
	position: relative;
	z-index: 10;
}
#media_item img {
	display: block;
	float: left;
	width: 25%;
	border-radius: 0.3rem;
}
#media_item,#media-item h2 {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#media_item:hover {
	-webkit-transform: scale(1.01);
	-moz-transform: scale(1.01);
	-ms-transform: scale(1.01);
	-o-transform: scale(1.01);
	transform: scale(1.01);
}

#lightbox {
	-webkit-filter: grayscale(100);
	-moz-filter: grayscale(100);
	-ms-filter: grayscale(100);
	-o-filter: grayscale(100);
	filter: grayscale(100);
	-webkit-transition: filter 150ms ease-in;
	-moz-transition: filter 150ms ease-in;
	-ms-transition: filter 150ms ease-in;
	-o-transition: filter 150ms ease-in;
	transition: filter 150ms ease-in;
}
#lightbox:hover,#media_item:hover img {
	cursor: url('img/enlarge.png'),auto;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
}
#lightbox:active {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed !important;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: rgba(0,0,0,0.95);
	z-index: 99;
}
#lightbox:active img {
	animation: blurImg 1200ms ease-in-out;
}
@keyframes blurImg {
	0% { 
		-webkit-filter: blur(60px);
		-moz-filter: blur(60px);
		-ms-filter: blur(60px);
		-o-filter: blur(60px);
		filter: blur(60px);
		opacity: 0;
	}
	65% {
		-webkit-filter: blur(60px);
		-moz-filter: blur(60px);
		-ms-filter: blur(60px);
		-o-filter: blur(60px);
		filter: blur(60px);
		-webkit-transform: scale(0.8);
		opacity: 0;
	}
	100% {
		-webkit-filter: blur(0px);
		-moz-filter: blur(0px);
		-ms-filter: blur(0px);
		-o-filter: blur(0px);
		filter: blur(0px);
		-webkit-transform: scale(1);
		opacity: 1;
	}
}


#lightbox:active img {
	width: 50%;
	height: auto;
}


/* SPINNER */

.spinner,.spinner div {
	position: fixed;
	display: none;
	left: calc(50% - 25px);
	top: calc(50% - 25px);
	width: 50px;
	height: 50px;
	border-radius: 25px;
	z-index: -1;
}
.spinner {
	margin: 5rem auto 0 auto;
	border: 4px solid transparent;
	border-left: 4px solid rgba(50,180,250,0.5);
	border-top: 4px solid rgba(50,180,250,0.5);
}
#lightbox:active .spinner {
	display: block;
	animation: spinner 1.2s infinite linear;
}
.spinner div {
	top: -4px;
	left: -4px;
	border: 4px solid transparent;
	border-left: 4px solid rgba(50,180,250,0.5);
}
#lightbox:active .spinner div {
	display: block;
	animation: spinnerInner 2s infinite ease-in-out;
}
@keyframes spinner {
	to { 
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		 }
}
@keyframes spinnerInner {
	to { 
		-webkit-transform: rotate(360deg);
		-moz-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		-o-transform: rotate(360deg);
		transform: rotate(360deg);
		 }
}
#media_item p {
	display: block;
	float: left;
	width: 75%;
	padding-left: 2rem;
	-webkit-columns: 2;
	-moz-columns: 2;
	-ms-columns: 2;
	-o-columns: 2;
	columns: 2;
}
#media_item a {
	display: block;
	position: absolute;
	width: 92%;
	left: 4%;
	height: 70%;
	box-shadow: 0 0 0px rgba(0,0,0,0.1);
	-webkit-transition: all 150ms ease;
	-moz-transition: all 150ms ease;
	-ms-transition: all 150ms ease;
	-o-transition: all 150ms ease;
	transition: all 150ms ease;
}
#media_item:hover a {
	box-shadow: 0 0 5px rgba(0,0,0,0.1);
}
@media screen and (max-width: 800px) {
	#media_item p {
		-webkit-columns: 1;
		-moz-columns: 1;
		-ms-columns: 1;
		-o-columns: 1;
		columns: 1;
	}
}
#media_item:hover h2 {
	text-decoration: underline;
	color: rgb(50,180,250);
}
/* PICTURE WITH SUBTITLE */

#media_big {
	display: block;
	width: 100%;
	height: calc(100vh - 6rem);
	background-color: rgb(40,40,40);
	color: rgb(255,255,255);
}

#media_big figure {
	display: flex;
	width: 100%;
	height: 100%;
	position: relative;
	color: rgb(0,0,0);
	overflow: hidden;
	border-radius: 0.3rem;
}
#media_big figure>div {
	display: flex;
	width: 100%;
	height: 100%;
	background-image: url("https://vasilis.nl/voto/fotos/klein/161001174911-verhuizen-1280.jpg");
	background-position: center bottom;
	background-size: cover;
	-webkit-transition: all 600ms ease;
	-moz-transition: all 600ms ease;
	-ms-transition: all 600ms ease;
	-o-transition: all 600ms ease;
	transition: all 600ms ease;
	-webkit-filter: grayscale(100);
	-moz-filter: grayscale(100);
	-ms-filter: grayscale(100);
	-o-filter: grayscale(100);
	filter: grayscale(100);
}
#media_big figure>div:hover {
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	-webkit-filter: grayscale(0);
	-moz-filter: grayscale(0);
	-ms-filter: grayscale(0);
	-o-filter: grayscale(0);
	filter: grayscale(0);
	-webkit-transform: scale(1.02);
	-moz-transform: scale(1.02);
	-ms-transform: scale(1.02);
	-o-transform: scale(1.02);
	transform: scale(1.02);
}
#media_big figcaption {
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	position: absolute;
	bottom: 0rem;
	height: min-content;
	width: 100%;
	padding: 2% 4%;
	background-color: rgba(255,255,255,0.75);
	line-height: 1.5;
	z-index: 10;
	font-weight: 400;
}
#media_big figure:hover figcaption {
	height: min-content;
}
#media_big h2 {
	position: absolute;
	padding: 4%;
	font-size: 3rem;
	font-weight: 100;
	z-index: 8;
	font-family: futura, century gothic,sans-serif;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#media_big footer {
	color: rgb(100,100,100);
	text-align: right;
	font-weight: 400;
	width: 50%;
	padding-left: 5%;
}
@media screen and (orientation:portrait) { 
	#media_big h2 {
		color: rgb(255,255,255);
	}
	#media_big figure>div {
		background-image: url("https://vasilis.nl/voto/fotos/klein/170126170241-we-hebben-een-bortusk-1280.jpg");
	}

}
@media screen and (orientation:landscape) {
	#media_big figure>div {
		background-image: url("https://vasilis.nl/voto/fotos/klein/161001174911-verhuizen-1280.jpg");
	}
}

/* CHAT */

#chat li {
	position: relative;
	clear: both;
	border-radius: 0.5em;
	min-width: 40%;
	-webkit-transition: all 200ms ease 200ms;
	-moz-transition: all 200ms ease 200ms;
	-ms-transition: all 200ms ease 200ms;
	-o-transition: all 200ms ease 200ms;
	transition: all 200ms ease 200ms;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.2);
	margin: 1rem 0;
}
#chat li[data-type="SEND"] {
	-webkit-transform-origin: center left;
	-moz-transform-origin: center left;
	-ms-transform-origin: center left;
	-o-transform-origin: center left;
	transform-origin: center left;
}
#chat li[data-type="RECEIVE"] {
	-webkit-transform-origin: center right;
	-moz-transform-origin: center right;
	-ms-transform-origin: center right;
	-o-transform-origin: center right;
	transform-origin: center right;
}
#chat li:hover {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}

	/* BLUE MESSAGE */
	#chat li[data-type="SEND"] {
		float: left;
		background-color: rgb(50,180,250);
		color: rgb(255,255,255);
	}
	/* ARROW */
	#chat li[data-type="SEND"]::after {
		content: "";
		position: absolute;
		left: -2rem;
		top: 1.5rem;
		border: 1.1rem solid transparent;
		border-right: 1.1rem solid rgb(50,180,250);
		z-index: 2;
	}
	/* GREY MESSAGE */
	#chat li[data-type="RECEIVE"] {
		float: right;
		background-color: rgb(224,225,226);
	}
	/* ARROW */
	#chat li[data-type="RECEIVE"]::after {
		content: "";
		position: absolute;
		right: -2rem;
		top: 1.5rem;
		border: 1.1rem solid transparent;
		border-left: 1.1rem solid rgb(224,225,226);
		z-index: 2;
	}
#chat li>p {
	padding: 1em 2em;
}
#chat footer {
	display: flex;
	justify-content: flex-start;
	color: rgb(180,180,180);
	background-color: rgba(255,255,255,0.3);
	width: 100%;
	left: 0;
	padding: 0.75em 2em;
}
#chat footer p {
	width: calc(100% - 8rem);
}
#chat footer p:nth-of-type(2) {
	width: 2rem;
}
#chat li[data-type="RECEIVE"] footer p {
	width: 100%;
}
#chat footer time {
	width: 8rem;
}
#chat li[data-type="SEND"] footer {
	background-color: rgba(255,255,255,0.17);
	color: rgba(255,255,255,0.7);
}
#chat footer time {
	float: right;
	margin-left: 1rem;
}


#chat form {
	display: block;
	float: left;
	width: 100%;
	margin-top: 3%;
}
#chat form label {
	display: block;
	color: rgb(224,225,226);
	margin-bottom: 1rem;
}
#chat form textarea {
	display: block;
	float: left;
	width: 80%;
	height: 5rem;
	padding: 0.5rem;
	font-size: 1.7rem;
	resize: none;
	border: 2px solid rgb(224,225,226);
	border-radius: 0.3rem;
	color: rgb(50,180,250);
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#chat form textarea:hover {
	border-color: rgb(50,180,250);
}
#chat form textarea:active {
	border-color: rgb(50,180,250);
	box-shadow: 0 0 15px 5px rgba(50,180,250,0.5) !important;
}
#chat form textarea:focus {
	border-color: rgb(50,180,250);
	box-shadow: 0 0 0px 2px rgb(50,180,250);
}
#chat button {
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
	display: block;
	float: left;
	border-radius: 0.3rem;
	border: transparent !important;
	font-weight: 100 !important;
	text-transform: uppercase;
}
#chat form button {
	font-size: 1em;
	width: 19%;
	margin-left: 1%;
	height: 5rem;
	background-color: rgb(224,225,226);
}
#chat form button:hover {
	background-color: rgb(50,180,250);
	color: rgb(255,255,255);
}
#chat form button:active {
	box-shadow: 0 0 0px 2px rgb(50,180,250);
}
p[data-status="DELIVERED"] span, p[data-status="READ"] span {
	display: none;
}
p[data-status="DELIVERED"]::before,p[data-status="READ"]::before {
	content: '\027E9';
	margin: 0 0.1rem;
	line-height: 1;
	/*letter-spacing: -0.5rem;*/
}
p[data-status="READ"]::after {
	content: '\027E8';
	line-height: 1;
}

/* STEP INDICATOR */

#order {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10% 5%;
}
#order>div {
	display: block;
	position: absolute;
	width: 100%;
	height: 100%;
	background-image: url("https://vasilis.nl/voto/fotos/klein/161001174911-verhuizen-1280.jpg");
	background-position: center bottom;
	background-attachment: fixed;
	box-shadow: 0 0 20px 0 rgba(0,0,0,0.1) inset;
	background-size: cover;
	z-index: -1;
	-webkit-filter: grayscale(80);
	-moz-filter: grayscale(80);
	-ms-filter: grayscale(80);
	-o-filter: grayscale(80);
	filter: grayscale(80);
}
#order h2 {
	text-align: center;
}
#order ol {
	display: block;
	padding: 10% 10%;
	width: 100%;
	height: 100%;
	background-color: rgba(255,255,255,0.96);
	border-radius: 0.3rem;
	box-shadow: 0 0 5px 0 rgba(0,0,0,0.1);
}
#order progress {
	display: block;
	position: relative;
	width: 100%;
	margin: 1rem 0 -2.5rem 0;
	height: 2.5rem;
	border-radius: 1.5rem;
}
#order progress::after {
	content: '';

}
progress::-webkit-progress-bar {
	background-color: rgb(238,240,242);
	box-shadow: 0 0 0.6rem 0 rgba(0,0,0,0.2) inset;
	border: 0;
	height: 2.5rem;
	border-radius: 1.5rem;
}
progress::-webkit-progress-value {
	background-color: rgb(50,180,250);
	box-shadow: 0 0 0.6rem 0 rgba(0,0,0,0.1) inset;
	border: 0;
	height: 2.5rem;
	border-radius: 1.5rem;
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
progress::-moz-progress-bar {
	background-color: rgb(238,240,242);
	box-shadow: 0 0 0.6rem 0 rgba(0,0,0,0.2) inset;
	border: 0;
	height: 2.5rem;
	border-radius: 1.5rem;
}

#order ol>li {
	display: inline-block;
	position: relative;
	width: 25%;
	line-height: 2.5rem;
	text-align: center;
	color: rgb(200,200,200);
	font-size: 1.2rem;
	font-weight: 300;
	letter-spacing: 0.1rem;
	z-index: 2;
}

#order a {
	display: block;
	width: 100%;
	height: 2.5rem;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
#order a[aria-label$="complete"] {
	color: rgb(255,255,255) !important;
}
#order a[aria-label$="current step"] {
	border-bottom: 0.2rem solid rgba(50,180,250,0.6);
}
#order a[aria-label$="current step"]:hover {
	border-bottom: 2.5rem solid rgba(50,180,250,0.6);
	color: rgb(255,255,255) !important;
}

/* RATING */
#rating {
	background-color: rgb(40,40,40);
	color: #fff;
	border: none;
	position: relative;
	top: -1.2rem;
	text-align: center;
	padding-top: 2%;
	min-height: initial;
}
#rating legend {
	position: relative;
	text-transform: uppercase;
	font-size: 2rem;
}
#rating label {
	display: inline-block;
	width: 25%;
	padding: 0 1%;
	max-width: 200px;
	text-align: center;
	letter-spacing: 0.1em;
	color: rgba(255,255,255,0.5);
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
#rating label:hover {
	color: rgba(255,255,255,1);
}
#rating label .svg {
	width: 100%;
	-webkit-filter: grayscale(0.6);
	-moz-filter: grayscale(0.6);
	-ms-filter: grayscale(0.6);
	-o-filter: grayscale(0.6);
	filter: grayscale(0.6);
}
label input:checked + .svg, label .svg:hover {
	-webkit-filter: grayscale(0) !important;
	-moz-filter: grayscale(0) !important;
	-ms-filter: grayscale(0) !important;
	-o-filter: grayscale(0) !important;
	filter: grayscale(0) !important;
}
label input:checked + .svg .smile {
	animation: smileAnim 500ms 300ms 2 alternate ease-in-out;
}
label:hover .smile {
	animation: smileAnim 500ms 300ms infinite alternate ease-in-out;
}
label:hover .smile,label input:checked + .svg .smile {
	-webkit-transform: scaleY(1.2) scaleX(1.2);
	-moz-transform: scaleY(1.2) scaleX(1.2);
	-ms-transform: scaleY(1.2) scaleX(1.2);
	-o-transform: scaleY(1.2) scaleX(1.2);
	transform: scaleY(1.2) scaleX(1.2);
	-webkit-transition: transform 300ms ease;
	-moz-transition: transform 300ms ease;
	-ms-transition: transform 300ms ease;
	-o-transition: transform 300ms ease;
	transition: transform 300ms ease;
	-webkit-transform-origin: center 40%;
	-moz-transform-origin: center 40%;
	-ms-transform-origin: center 40%;
	-o-transform-origin: center 40%;
	transform-origin: center 40%;
}

@keyframes smileAnim {
	to { 
		-webkit-transform: scaleY(0.65) scaleX(0.9);
		-moz-transform: scaleY(0.65) scaleX(0.9);
		-ms-transform: scaleY(0.65) scaleX(0.9);
		-o-transform: scaleY(0.65) scaleX(0.9);
		transform: scaleY(0.65) scaleX(0.9);
	 }
}

#rating input {
	position: absolute;
	visibility: hidden;
}

#rating label:hover .svg {
	margin-bottom: 0px;
}
#rating input + .svg {
	border-radius: 50%;
	padding: 5px;
	border: 15px solid transparent;
	-webkit-transition: all 200ms ease-in-out;
	-moz-transition: all 200ms ease-in-out;
	-ms-transition: all 200ms ease-in-out;
	-o-transition: all 200ms ease-in-out;
	transition: all 200ms ease-in-out;
}
#rating input:hover + .svg {
	border: 2px solid rgb(255,255,255);
}
#rating input:active + .svg {
	padding: 10px;
	border: 10px solid rgb(50,180,250);
}
#rating input:checked + .svg {
	border: 4px solid rgb(50,180,250);
	padding: 0 !important;
	background-color: rgb(50,180,250);
}
li[aria-selected=’true’] a {
	color: pink !important;
}
#rating label:hover {
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
	-webkit-transform-origin: center center;
	-moz-transform-origin: center center;
	-ms-transform-origin: center center;
	-o-transform-origin: center center;
	transform-origin: center center;
}



@media screen and (max-width: 640px) {
	.desktop {
		display: none !important;
	}
	.mobile {
		display: initial;
	}
}
@media screen and (min-width: 640px) {
	.desktop {
		display: initial !important;
	}
	.mobile {
		display: none;
	}
}



/*a[aria-selected='true'] {
color: purple !important;
background-color: pink !important;
border-bottom: 1px solid white !important;
}
div[aria-hidden='true'] {
display: none !important;
}*/


